#lan_selector {
    display: flex;
    justify-self: flex-end;
    margin-right: 2rem;
    align-items: center;
    gap: 2rem;
    padding-top: .5rem;
}

#lan_selector>a {
    margin-bottom: 0;
}

#lan_selector>a>img {
    max-height: 100px;
    height: 5vh;
    min-height: 40px;
    transition: .4s;
}

#lan_selector>a>img:hover {
    transform: scale(1.25) rotate(10deg);
    transition: .2s;
}

#theme_selector {
    display: flex;
    margin-left: .5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    width: 95%;
    margin: auto;
}

.flex-item,
.contact-item {
    position: relative;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-content: flex-start;
    flex-grow: 1;
    flex-basis: 0;
}

.flex-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

#flex-comment-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.flex-comment {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-content: flex-start;
    width: calc(100% - 6px);
}

.comment-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 110%;
    top: -1rem;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#load-more-comments-button {
	height: 10ch;
	width: 30ch;
}

#total-comments-number-text {
    align-self: center;
}

#insert-comment-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media only screen and (max-width: 730px) {
    
    .flex-responsive {
        flex-direction: column;
        justify-content: space-around;
        justify-self: center;
    }
    

    .contact-item img {
        width: 5%;
    }

    .contact-item a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-item img {
    width: clamp(3.5rem ,15%, 100rem);
}

.contact-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

@media not (pointer: fine) {
    #has-mouse {
        --has-mouse:false;
    }
}
@media (pointer: fine) {
    #has-mouse {
        --has-mouse:true;
    }
}

footer {
    text-align: center;
    margin-bottom: 2px;
}



#comment_sending_status {
    position: fixed;
    bottom: calc(50vh - 25px);
    right: calc( 50vw - 100px);
    width: 200px; 
    height: 50px; 
    background-color: var(--main-background-color);
    border: 3px solid var(--comment-section-form-background-color); 
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.comments-verified img {
    height: 2rem;
}

.hidden {
    visibility: hidden;
}

.hiding {
    opacity: 0;
    transition-duration: 10s;
}

.fast {
    transition-duration: .25s;
}