<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title | safe }}</title>

    <meta property="og:locale" content="it_IT">
    <meta property="og:url" content="https://about.malbyx.tk/{{ lan }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Malbyx Website">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_desc }}">
    <meta property="og:image" content="{{ url_for('static', path='favicon.png') }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/favicon.png') }}">
    <script src="{{ url_for('static', path='index.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='index.css') }}" onload="onLoad()">
</head>
<body>
    <span id="mouse_shadow"></span>
    <div id="lan_selector">
        <a href="/it"><img src="{{ url_for('static', path='images/it.png')}}" alt="IT"></a>
        <a href="/en"><img src="{{ url_for('static', path='images/en.png')}}" alt="EN"></a>
        <!-- <a href="/de"><img src="{{ url_for('static', path='images/de.png')}}" alt="DE"></a> -->
    </div>
    <!-- IDEA: quando in verticale fare che le zone si ingrandiscano con lo scorrimento -->
    <!-- IDEA: effetto ombra del mouse nelle zone  -->
    <div style="margin-bottom: 1%;">
        <div class="flex-row"><h1>{{ presenting_title | safe }}</h1></div>
        <div class="flex-responsive">
            <p>{{ presenting_text | safe }}</p>
        </div>
        <div class="flex-row"><h1>{{ my_projects | safe }}</h1></div>
        <div class="flex-responsive">
            <div class="flex-item">
                <h2>{{ salama_title | safe }}</h2>
                <a href="http://vabenla.it">{{ primary_link | safe }}</a>
                <a href="https://salama.malbyx.eu">{{ secondary_link | safe }}</a>
                <p>{{ salama_desc | safe }}</p>
            </div>
            <div class="flex-item">
                <h2>{{ bitchis_title | safe }}</h2>
                <a href="https://lebitchis.malbyx.eu">{{ primary_link | safe }}</a>
                <a href="https://lebitchis.tk">{{ secondary_link | safe }}</a>
                <a href="https://wordpress.malbyx.eu">{{ tertiary_link | safe }}</a>
                <p>{{ bitchis_desc | safe }}</p>
            </div>
            <div class="flex-item">
                <h2>Elevate Game Studio</h2>
                <a href="https://egs.malbyx.eu">{{ primary_link | safe }}</a>
                <!-- <a href="https://elevategamestudio.tk">{{ secondary_link | safe }}</a> -->
                <p>{{ elevate_desc | safe }}</p>
            </div>
            <div class="flex-item">
                <h2>TMS</h2>
                <a href="https://tms.malbyx.eu/">{{ primary_link | safe }}</a>
                <a href="https://teamms.netlify.app/">{{ secondary_link | safe }}</a>
                <p>{{ tms_desc | safe }}</p>
            </div>
            <div class="flex-item">
                <h2>HOSB</h2>
                <a href="https://hosb.malbyx.eu/">{{ link | safe }}</a>
                <p>{{ hosb_desc | safe }}</p>
            </div>
        </div>
        <div class="flex-row"><h1>{{ my_contacts | safe }}</h1></div>
        <div class="flex-responsive">
            <!-- IDEA: quando in verticale centrare il logo e mettere a griglia di larghezza 2 o 4 -->
            <!-- https://www.techiedelight.com/check-whether-image-is-loaded-with-javascript/ -->
            
            <div class="contact-item"><a alt="Twitter" rel="me noreferrer noopener" target="_blank" href="https://twitter.com/malbyx" me><img src="{{ url_for('static', path='images/twitter.png') }}"></a></div>
            <div class="contact-item"><a alt="E-Mail" rel="me noreferrer noopener" target="_blank" href="mailto:me@malbyx.eu" me><img src="{{ url_for('static', path='images/mail.png') }}"></a></div>
            <div class="contact-item"><a alt="Instagram" rel="me noreferrer noopener" target="_blank" href="https://www.instagram.com/malbyx/" me><img src="{{ url_for('static', path='images/instagram.png') }}"></a></div>
            <div class="contact-item"><a alt="LinkedIn" rel="me noreferrer noopener" target="_blank" href="https://www.linkedin.com/in/alberto-macchi" me><img src="{{ url_for('static', path='images/linkedin.png') }}"></a></div>
            <div class="contact-item"><a alt="Fediverse" rel="me noreferrer noopener" target="_blank" href="https://junimo.party/malbyx" me><img src="https://raw.githubusercontent.com/starshardstudio/emblems/main/custom/star-circle-256.png" target="_blank"></a></div>
            <div class="contact-item"><a alt="Github" rel="me noreferrer noopener" target="_blank" href="https://github.com/Alby1/" me><img src="{{ url_for('static', path='images/github.png') }}"></a></div>
        </div>
        <div class="flex-row">
            <h1>{{ fun_features_title | safe }}</h1>
        </div>
        <div class="flex-responsive">
            <div class="flex-item">
                <h2>{{ music_info_title | safe }}</h2>
                <p id="music_info_desc">{{ music_info_desc }}</p>
                <a href="#" id="music_info_link">{{ music_info_link }}</a>
                <p hidden>{{ listening_to | safe }} <a href="#" id="listening_to"></a></p>
                <p hidden>{{ last_listened_to | safe }} <a href="#" id="last_listened_to"></a></p>
                <div class="flex-responsive">
                    <div id="top_artists" hidden>
                        <p>{{ top_artists | safe }}</p>
                    </div>
                    <div id="top_tracks" hidden>
                        <p>{{ top_tracks | safe}}</p>
                    </div>
                    <div id="weekly_top_tracks" hidden>
                        <p>{{ weekly_top_tracks | safe}}</p>
                    </div>
                </div>
                <br>
                <p>{{ powered_by_lastfm | safe }}<a href="https://www.last.fm/about">Last.fm</a></p>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="flex-responsive">
        <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Pixel perfect - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by edt.im - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by riajulislam - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Dave Gandy - Flaticon</a>
    </div>
    <br>
</footer>
</html>
